<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage</title>
</head>
<body>
<!--<table class="world">
    {% for i in range(new_gen|length) %}
        <tr>
            {% for j in range(new_gen[0]|length) %}
                {% if new_gen[i][j] == 1 %}
                    <td class="cell living-cell"></td>
                {% else %}
                    <td class="cell"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>-->
</body>
</html>